@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@300&display=swap');
:root{
    /* --main-bg-color: brown; */
    --main-bg-color: #2874f0;
}
  
*{
    margin: 0;
    padding: 0;
}
header{
    /* height: 12vh; */
    /* height: 188px; */
    /* height: 88px; */
    /* background-color: black; */
    background-color: var(--main-bg-color);
    color: white;
    /* border: 2px solid red; */
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(22, 90, 236); */
    /* color: rgb(187, 202, 235); */
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    /* height: 23px; */
    height: 27px;
    /* border-radius: 2px; */
    /* border-radius: 12px; */
    border-radius: 5px;
    /* margin: 0 56px; */
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    /* margin: auto; */
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    /* background-color: #2874f0; */
    margin: 37px auto;
    max-width: 91vw;
    font-family: 'Ubuntu', sans-serif;
}
.card h2{
    font-family: 'Lato', san-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}
.cards{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: hidden; */
    overflow: scroll;
}
.card-item{
    /* display: flex; */
    display: inline-flex; 
    justify-content: center;
    flex-direction: column;
     margin: 0 15px;
}

footer{
    height: 12vh;
    /* background-color: black; */
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}